<h1>Welcome <%= @user.username%>!</h1>

<%= link_to 'Discover Movies', discover_path %>

<% if current_user %>
  <p>Logged in as <%= current_user.username %></p>
  <%= link_to "Log Out", logout_path%>
<% end %>

<h4>Add Friend</h4>
<%= form_with url: friendships_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit 'Add Friend' %>
<% end %>

<h4>Friends</h4>
