<h1>Welcome, <%= @user.username%>!</h1>

<%= link_to 'Log Out', logout_path, class: 'btn btn-outline-danger' %>

<%= link_to 'Discover Movies', discover_path, class: 'btn btn-outline-success' %>
<br><br>
<h4>Add Friend</h4>
<%= form_with url: friendships_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit 'Add Friend' %>
<% end %>
<br><br>

<h4>Friends</h4>
<% if @user.friends.present? %>
  <% @user.friends.each do |friend|%>
    <p><%= friend.username%></p>
    <%end%>
<% else%>
  <h5>You currently have no friends</h5>
<%end%>

<h4>Viewing Parties</h4>
<% @user.parties.each do |party|%>
  <h5><%= party.title%></h5>
  <h5><%= party.date%></h5>

  <% if current_user%>  
    <h5>Hosting</h5>
  <%else%>
    <h5>Invited</h5>
  <%end%>
<%end%>
